.App {
  text-align: center;
}

.main {
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.block-button{
  color: #a92a52;
  margin-right: 15px;
}

.number-button{
  width: 50px;
  font-size: 40px;
  color: #a92a52;
}
.footer-container{
  width: 550px;
  display: flex;
}

.StageStyle {
  display: flex;
  margin: 0 auto;
  background-color: #a92a52;
}

.button-text{
  margin-right: 30px;
  color: #a92a52;
}
